.formcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f6f8fa;
}

.formwrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  width: 400px;
  padding: 20px;
}

.formtitle {
  text-align: center;
  margin-bottom: 20px;
}

.forminput {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #d1d5da;
  border-radius: 6px;
  box-sizing: border-box;
}

.formsubmit {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #2ea44f;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.createAccount {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  font-size: inherit;
  font-family: inherit;
  margin-top: 5%;
  padding: 0;
  text-decoration: none;
}

.createAccount:hover {
  opacity: 0.5;
}
